<script src="/first.js"></script>
<script src="https://kit.fontawesome.com/878d22e054.js" crossorigin="anonymous"></script>
<nav>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li>
            <a href="#">Brands <i class="fas fa-caret-down"></i></a>
            <ul class="dropdown">
                <li><a href="/cart/samsung">samsung</a></li>
                <li><a href="/cart/oppo">oppo</a></li>
                <li><a href="/cart/realme">realme</a></li>
                <li><a href="/cart/vivo">vivo</a></li>
                <li><a href="/cart/iphone">iphone</a></li>
                <li><a href="/cart/oneplus">oneplus</a></li>
            </ul>
        </li>
        <li><a href="/cart/compare">Compare</a></li>
        <li><a href="/cart/aboutus">Contact Us</a></li>
        <li><a href="/users/sign-up" target="_blank"><button type="submit">Sign-Up / Sign-In</button></a></li>
    </ul>
    <a href="/cart/show"><img src="/pic/sc1.png" alt="" class="cart1" width="38" height="40"> </a>
    <%if(locals.user){%>
        <% if(cart==null || cart.items.length==0){%>
            <div class="countitems">0</div>
            <%} else{%>
                <% let totalQty=0; for(let i=0; i < cart.items.length; i++){ let product=cart.items[i];
                    totalQty+=product.qty; %>
                    <%}%>

                        <div class="countitems">
                            <%=totalQty%>
                        </div>
                        <%}%>
                            <%}%>
                                <% if(locals.user){%>
                                    <a href="/users/profile"><button class="cart2"><i
                                                class="fa-solid fa-user"></i>&nbsp;&nbsp;<%=user.name%></button></a>
                                    <%} else{%>
                                        <a href="/users/sign-in"><button class="cart2"><i
                                                    class="fa-solid fa-user"></i></button></a>
                                        <%}%>
                                            <img src="/pic/menu2.png" alt="" class="menu-btn" width="40"
                                                height="50">
</nav>