<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/about.css">
    <link rel="stylesheet" href="/nav.css">
    <title>Document</title>
</head>
<body>
    <div class="navigate">
        <%-include('_nav');%>
    </div>
    <div class="contact">
        <div class="contact-form">
            <h1>Contact <span>Us</span></h1>
            <p>
                Facing Problem!! Please feel free to contact us :)
            </p>
            <form action="">
                <input type="email" name="" placeholder="Your Email...">
                <input type="text" name="" placeholder="First Name...">
                <input type="text" name="" placeholder="Last Name...">
                <textarea name="" id="" cols="30" rows="10" placeholder="Your Message to Us..."></textarea>
                <input type="submit" value="Submit" class="btn">
            </form>
        </div>
        <div class="contact-img">
            <img src="/pic/main.png" alt="" width="400" height="550">
        </div>
    </div>
</body>
</html>