@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Black+Ops+One&family=Cairo:wght@600&family=Kelly+Slab&family=Macondo&family=Plus+Jakarta+Sans:wght@200&family=Smooch&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    line-height: 1.5;
    background-color: #000;
    color: #ddd;
    font-family: 'Cairo', sans-serif;
}

.card-wrapper {
    max-width: 80vw;
    margin: 0 auto;
}

.card-wrapper img {
    width: 100%;
    display: block;
    top: 0;
}

.card {
    display: flex;
    align-items: center;
}

.threesixty {
    position: relative;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.threesixty span {
    position: absolute;
    top: 0;
    left: calc(100% / 9 * var(--i));
    width: calc(100% / 9);
    height: 100%;
}

.threesixty img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    pointer-events: none;
}

.threesixty img:nth-child(2),
.threesixty span:hover+img {
    opacity: 1;
}

.product-content {
    padding: 2rem 1rem;
    margin-top: 8rem;
}

.product-title {
    font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #ffffff;
    margin: 1.5rem 0;
}

.product-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #ffffff;
}

.product-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}

#outputd {
    color: #ddd;
}

.product-link:hover {
    opacity: 0.9;
}

.product-rating {
    color: #ffc107;
}

.product-rating span {
    font-weight: 600;
    color: #0af0d5;
}

.product-price {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}

.product-price span {
    font-weight: 400;
}

.last-price span {
    color: #f64749;
    text-decoration: line-through;
}

.new-price span {
    color: #256eff;
}

.product-detail h2 {
    text-transform: capitalize;
    color: #1d84ea;
    padding-bottom: 0.2rem;
}

.product-detail p {
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}

.product-detail ul {
    margin: 1rem 0;
    font-size: 0.9rem;
}

.product-detail ul li {
    margin: 0;
    list-style: none;
    background: url(shoes_images/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}

.product-detail ul li span {
    font-weight: 400;
}

.purchase-info {
    margin: 1.5rem 0;
}

.purchase-info input,
.purchase-info .btn {
    border: none;
    border-radius: 25px;
    text-align: center;
    padding: 1rem 2.5rem;
    outline: 0;
    font-size: 15px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

.purchase-info input {
    width: 60px;
}

.purchase-info .btn {
    cursor: pointer;
    color: #fff;
    transition: 0.2s ease;
}

.purchase-info .btn1:last-of-type {
    background: #be3335;
}

.purchase-info .btn2:last-of-type {
    background: #029f0c;
}

.purchase-info .btn:hover {
    transform: scale(1.06);
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    color: rgb(188, 77, 77);
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 1.3rem;
    transition: all 0.5s ease;
}

.social-links a:hover {
    background: #000;
    border-color: transparent;
    color: #fff;
}

.navigate {
    width: 100vw;
    height: 26vh;
}

nav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    justify-content: center;
}

.nav-links {
    display: flex;
    align-items: center;

}

.sub-menu {
    display: none;
    color: white;
}

.nav-links li:hover .sub-menu {
    display: block;
    position: absolute;
    margin-top: 10px;
    margin-left: -48px;
}

.nav-links li:hover .sub-menu li {
    padding: 8px;
    width: 150px;
    font-size: 10px;
}

.nav-links li {
    margin: 0 2.5rem;
}

.cart1 {
    position: absolute;
    top: 0.93rem;
    right: 4.37rem;
}

.cart2 {
    position: absolute;
    top: 1.125rem;
    right: 8.75rem;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    cursor: pointer;
}

.countitems {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    font-size: 0.6rem;
    top: 2.75rem;
    right: 4rem;
    color: white;
    border-radius: 50px;
    background-color: rgb(189, 6, 6);
    text-align: center;
    z-index: 100;
}

.menu-btn {
    position: absolute;
    top: 1.125rem;
    right: 1.875rem;
    cursor: pointer;
    display: none;
}

.navigate li button {
    background-color: rgb(52, 51, 51);
    color: whitesmoke;
    padding: 0.625rem 0.9375rem;
    cursor: pointer;
    border-radius: 1.25rem;
    font-size: 0.9375rem;
}

.navigate a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.125rem;
}

.navigate ul {
    list-style: none;
}

.comments-list {
    color: white;
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.ratings {
    width: 100vw;
    min-height: 70vh;
    margin-top: 40vh;
    margin-left: 10vw;
}

.product-comments {
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.product-comments #textarea {
    width: 60vw;
    padding: 0.5rem;
    height: 5vh;
}

.product-comments #btnn {
    height: 5vh;
    padding: 0.2rem;
    background-color: #ffc107;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.center {
    width: 500px;
    margin: auto;
}

.name {
    width: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.name a {
    color: #fff;
}

.comment {
    padding: 10px;
    margin-left: 20px;
    font-family: cursive;
}

.star-icon {
    font-size: 20px;
    color: #ddd;
}

.star-icon.filled {
    color: #FFC107;

}

.star-icon-inp {
    font-size: 20px;
    color: #ddd;
    cursor: pointer;
}

.star-icon-inp.filled {
    color: #FFC107;

}


@media screen and (min-width: 992px) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    .card-wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .product-content {
        padding-top: 0;
    }
}

