html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navigate{
    width: 100vw;
    height: 30vh;
}
nav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.6rem;
    justify-content: center;
}
.nav-links {
    display: flex;
    align-items: center;
   
}
.sub-menu{
    display: none;
    color: white;
}
.nav-links li:hover .sub-menu{
    display: block;
    position: absolute;
    margin-top: 10px;
    margin-left: -48px;
}
.nav-links li:hover .sub-menu li{
    padding: 8px;
    width: 150px;
    font-size: 10px;
}

.nav-links li {
    margin: 0 4rem;
}
.cart1{
    position: absolute;
    top: 1.5rem;
    right: 7rem;
}
.cart2{
    position: absolute;
    top: 1.8rem;
    right: 14rem;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    cursor: pointer;
}
.menu-btn{
    position: absolute;
    top: 1.8rem;
    right: 3rem;
    cursor: pointer;
    display: none;
}
li button {
    background-color: rgb(52, 51, 51);
    color: whitesmoke;
    padding: 1rem 1.5rem;
    cursor: pointer;
    border-radius: 2rem;
    font-size: 1.5rem;
}
a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.8rem;
}
ul {
    list-style: none;
}