@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Black+Ops+One&family=Cairo:wght@600&family=Kelly+Slab&family=Macondo&family=Plus+Jakarta+Sans:wght@200&family=Smooch&display=swap');
html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    overflow-x: hidden;
}
.navigate{
    width: 100vw;
    height: 30vh;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.details img{
    height: auto;
    width: 50%;
}
.details{
    padding: 10px;
    width: 25%;
    height: 45rem;
    background-color: antiquewhite;
    margin: 1rem;
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 3px 10px salmon;
}
.one{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    text-align: center;
}
.two{
    width: 100%;
    height: 40%;
    color: white;
    text-align: center;
}
.two button{
    padding: 0.5rem;
    background-color: black;
    color: aliceblue;
    border: 0.2rem solid white;
    cursor: pointer;
    font-size: 1.6rem;
    font-family: 'Kelly Slab', cursive;
    border-radius: 3rem;
    transition: all 0.7s ease;
}
.two h2{
    font-size: 2.5rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 1rem;
}
.two h3{
    font-size: 1.8rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0.5rem;
}
.two h4{
    font-size: 1.4rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0.5rem;
}
.two button:hover{
    background-color: aliceblue;
    color: black;
}


nav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.6rem;
    justify-content: center;
    font-family: 'Cairo', sans-serif;
}

a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.8rem;
}

ul {
    list-style: none;
}

.nav-links {
    display: flex;
    align-items: center;
   
}
.dropdown li{
    display: block;
 }
 .dropdown{
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
 }
 ul li:hover ul.dropdown{
    display: block;
 }
.nav-links li {
    margin: 0 4rem;
}
li button {
    background-color: rgb(52, 51, 51);
    color: whitesmoke;
    padding: 1rem 1.5rem;
    cursor: pointer;
    border-radius: 2rem;
    font-size: 1.5rem;
}
.menu-btn{
    position: absolute;
    top: 1.8rem;
    right: 3rem;
    cursor: pointer;
    display: none;
}
.cart1{
    position: absolute;
    top: 1.8rem;
    right: 7rem;
}
.countitems{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    top: 4.4rem;
    right: 6.4rem;
    color: white;
    border-radius: 50px;
    background-color: rgb(189, 6, 6);
    text-align: center;
    z-index: 100;
}
.cart2{
    position: absolute;
    top: 1.8rem;
    right: 14rem;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    cursor: pointer;
}